@import "includes/variables";
@import "includes/reset";
@import "includes/fonts";

*:focus {
	outline: none;
}

h1 {
	font-size: 48px;
	font-family: Roboto-Bold;
	color: #fff;
	max-width: 416px;
	line-height: 1.3;
}

h2 {
	font-size: 36px;
	font-family: Roboto-Bold;
	padding: 40px 0;
	text-align: center;
}

h4 {
	font-size: 18px;
}

header.header {
	background-image: url(../img/header.jpg);
	width: 100%;
	height: 650px;
	background-position: center;
	.top-header {
		.left {
			a.logo {
				width: 383px;
				height: 55px;
				margin-top: 8px;
				margin-bottom: 9px;
				display: block;
			}
		}
		.right {
			ul {
				margin-top: 20px;
				li {
					display: inline-block;
					&:first-child {
						a {
							color: #393939;
							font-size: 30px;
							font-family: Roboto-Bold;
							position: relative;
							&:hover {
								&::before {
									transform: rotate(-360deg);
									transition: .3s;
								}
								&::after {
									width: 60%;
									transition: .3s;
								}
							}
							&::before {
								content: '';
								position: absolute;
								height: 20px;
								width: 20px;
								top: 10px;
								left: -27px;
								background-image: url(../img/phone.png);
								transition: .3s;
							}
							&::after {
								content: '';
								position: absolute;
								top: 0;
								right: 0;
								width: 0;
								height: 1px;
								background-color: $font;
								transition: .3s;
							}
						}
					}
					&:nth-child(2) {
						margin-left: 7px;
						vertical-align: top;
						padding-top: 4px;
						button {
							color: #fff;
							background-color: $orange;
							font-size: 14px;
							width: 133px;
							height: 33px;
							border: none;
							border-radius: 3px;
							transition: .3s;
							border: 1px solid $orange;
							&:hover {
								background-color: #fff;
								color: $orange;
							}
						}
					}
					&:last-child {
						display: block;
						margin-top: 3px;
					}
					a {

					}
				}
			}
		}
	}
	.middle-header {
		padding: 36px 0;
		color: #fff;
		.less-h {
			font-size: 30px;
			font-family: Roboto-Bold;
		}
		.less-hh {
			font-size: 24px;
			line-height: 1.4;
		}
		.insurance {
		    color: #242323;
		    font-size: 24px;
		    position: relative;
		    background-image: url(../img/ins.png);
		    background-size: 100%;
		    height: 95px;
		    width: 342px;
		    padding: 24px 0 0 73px;
		    line-height: 1.2;
		    background-repeat: no-repeat;
		}
		button.pick-up {
			font-size: 18px;
			background-color: $orange;
			font-family: Roboto-Bold;
			border: none;
			height: 60px;
			width: 260px;
			border-radius: 4px;
			margin-top: 20px;
			position: relative;
			&::after {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				top: 0;
				margin: auto;
				width: 0;
				height: 0;
				background-color: #60ad3e;
				border-radius: 100%;
				background-size: 100%;
				transition: 1s;
				z-index: 0;
				opacity: 0;
			}
			&::before {
				content: attr(data-value);
				z-index: 1;
				position: relative;
			}
			&:hover {
				&::after {
					height: 100%;
					width: 100%;
					transition: .5s;
					opacity: 1;
					border-radius: 4px;
					border: 1px solid #fff;
				}
			}			
		}
	}
}

.top-nav ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.top-nav li {
  display: inline-block;
  margin: 0 2px;
  background: transparent;
  transition: .3s;
  position: relative;
  margin-right: 9px;
  &:last-child {
  	margin-right: 0;
  	&::after {
  		display: none;
  	}
  }
  &::after {
  	content: '';
  	background-color: #666;
  	width: 3.5px;
  	height: 3.5px;
	right: -9px;
	top: 9px;
  	position: absolute;
  	border-radius: 100%;
  }
  }

.top-nav a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  position: relative;
  transition: .3s !important;
  overflow: hidden;
  color: $menuColor;
  position: relative;
  padding-bottom: 2px;
  &::after {
  	content: '';
  	position: absolute;
  	bottom: 3px;
  	width: 100%;
  	height: 1px;
  	right: 0;
  	left: 0;
  	margin: auto;
  	background-color: #7eb271;
  	z-index: 1;
  }
  &::before {
  	content: '';
  	position: absolute;
  	bottom: 1px;
  	width: 0;
  	height: 1px;
  	right: 0;
  	left: 0;
  	margin: auto;
  	background-color: $orange;
  	z-index: 2;
  	transition: .3s;
  }
  &:hover {
  	color: $orange;
  	transition: .3s;
	  &::before {
	  	width: 100%;
	  }  
	  &::after {
	  	background-color: $orange;
	  }  	
  }
  }
  .top-nav a:hover {
  	   
  }

.mobile-menu {
  display: none;
  position: relative;
  float: right;
  width: 25px;
  height: 30px;
  border: none;
  background: transparent;
  outline: none;
  font-size: 0;
  padding: 0;
  cursor: pointer;
  margin-left: 15px;
  margin-top: 15px; }

.mobile-menu span {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  height: 3px;
  background: $green; }

.mobile-menu span:before,
.mobile-menu span:after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 3px;
  background: $green;
  content: ''; }

.mobile-menu span::before {
  top: -8px; }

.mobile-menu span::after {
  bottom: -8px; }

.mobile-menu.active span {
  background: transparent; }

.mobile-menu.active span:before {
  top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.mobile-menu.active span:after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

// calculate

* {
  box-sizing: border-box;
}

::selection {
  background-color: rgb(97, 174, 77);
  color: #fff;
}

.tabbed {
  width: 100%;
  margin: auto;
  position: relative;
}

.tabbed > input {
  display: none;
}

.tabbed > label {
  width: 20%;
  display: block;
  float: left;
  text-align: center;
  padding: 12px 0;
  transition: background-color .3s;
  background-color: #478d35;
  border-right: 1px solid #306f20;
  border-left: 1px solid #5da94a;
  font-size: 16px;
  color: #f5f5f5;
  &:first-child {
  	background-color: #61ae4d;
  	border-right: none;
  	border-left: none;
  	cursor: text;
  	}
  &:last-child {
	border-right: none;
  }
}

.tabbed > label:hover {

}

.tabbed > input:checked + label {
	border-right: none;
}

.heigher-cont {
	position: absolute;
	top: -11px;
	width: 100%;
	height: 11px;
	transition: .3s;
}

.heigher {
  	position: relative;
  	width: 20%;
  	height: 11px;
  	background-color: #478d35;
  	display: inline-block;
  	margin: 0;
  	padding: 0;
  	transition: .3s;
  	float: left;
  	opacity: 0;
  	&:first-child {
  		margin-left: 20%;
  	}
}

.tabs {
  clear: both;
  perspective: 600px;
  
}

.parameters {
	z-index: 9;
	position: relative;
	max-width: 20%;
	display: block;
	height: 194px;
	background-color: #fff;
	margin: 2px;
	padding: 8px 13px;
	font-size: 14px;
	color: #161616;
	overflow: auto;
	span {
		display: block;
		margin-bottom: 2px;
	}
}

.tabs > div {
  width: 100%;
  position: absolute;
  padding: 10px 30px 40px;
  line-height: 1.4em;
  opacity: 0;
  // transform: rotateX(-20deg);
  // transform-origin: top center;
  // transition: opacity .3s, transform 1s;
  z-index: 0;
  background-color: #e1e1e1;
  padding-left: calc(20% + 48px);
  padding-top: 41px;
  height: 200px;
  border: 2px solid #61ae4d;
  border-top: none;
}

#tab-nav-4:checked ~ .tabs > div:nth-of-type(4),
#tab-nav-2:checked ~ .tabs > div:nth-of-type(2),
#tab-nav-3:checked ~ .tabs > div:nth-of-type(3),
#tab-nav-1:checked ~ .tabs > div:nth-of-type(1){
  transform: rotateX(0deg);
  opacity: 1;
  z-index: 1;
}

#tab-nav-1:checked ~ .heigher-cont > .heigher:nth-of-type(1),
#tab-nav-2:checked ~ .heigher-cont > .heigher:nth-of-type(2),
#tab-nav-3:checked ~ .heigher-cont > .heigher:nth-of-type(3),
#tab-nav-4:checked ~ .heigher-cont > .heigher:nth-of-type(4){
 opacity: 1;
 transition: .3s;
}

.form-count-wrapper {
	background-color: #f5f5f5;
	padding-bottom: 50px;
}

form.tabs {
	h4 {
		display: block;
		margin-bottom: 23px;
	}
	input {
		border: 1px solid #61ae4d;
		height: 40px;
		width: 215px;
		border-radius: 3px;
		padding-left: 30px;
		padding-right: 11px;
		z-index: 1;
		position: relative;
		&.error {
			border: 1px solid #db1717;
			box-shadow: 0 0 10px 0 rgba(255,0,0,.4);
		}
		&.not_error {
			border: 1px solid #61ae4d;
			box-shadow: none;	
		}
	}
	.check {
	    position: absolute;
	    margin-top: -31px;
	    margin-left: 185px;
	    z-index: 2;
	    color: green;
	    .fa-caret-down {
	    	padding-left: 10px;
	    }
	}
	.err {
		background-color: #cecece;
		padding: 10px 7px;
		font-size: 12px;
		border-radius: 3px;
		position: absolute;
		margin-top: 12px;
		&::after {
		    content: '';
		    position: absolute;
		    top: -15px;
		    left: 16px;
		    border: 7px solid transparent;
		    border-bottom: 9px solid #cecece;
		}
	}	
	label {
		background: $orange; 
		position: relative;
		height: 40px;
		width: 40px;
		display: block;
		border: none;
		border-radius: 3px;
		background-image: url(../img/submit.png);
		background-repeat: no-repeat;
		background-position: center; 
		cursor: pointer;
		transition: .3s;
		&:hover {
			background-color: #60ad3e;
			transition: .3s;
		}
	}	
	ul.foundations {
		.ch {
			margin-top: -2px;
			display: none;
			position: relative;
			z-index: 0;
			li {
				display: block;
				float: none;
				border: 1px solid #61ae4d;
				height: 40px;
				width: 215px;
				padding-left: 30px;
				padding-right: 11px;
				background-color: #fff;
			    padding-top: 8px;
			    padding-left: 12px;			
			    border-top: none;
			    margin-right: 0;
			    &:hover {
			    	background-color: #61ae4d;
			    	color: #fff;
			    	cursor: pointer;
			    }
			    &:last-child {
			    	border-radius: 0 0 3px 3px;
			    }
			}			
		}		
		li {
			display: inline-block;
			float: left;
			margin-right: 6px;
			&:first-child {
				input {
				    background-image: url(../img/brick.gif);
				    background-position: 6px 12px;
				    background-repeat: no-repeat;
				}
			}	
			&:nth-child(2) {
				input {
				    background-image: url(../img/brush.gif);
				    background-position: 10px;
				    background-repeat: no-repeat;
				}
			}	
			&:nth-child(3) {
				input {
				    background-image: url(../img/foundation.gif);
				    background-position: 7px 9px;
				    background-repeat: no-repeat;
				}
			}				
		}
	}
	ul.contancts {
		.ch {
			margin-top: -2px;
			display: none;
			position: relative;
			z-index: 0;
			li {
				display: block;
				float: none;
				border: 1px solid #61ae4d;
				height: 40px;
				width: 215px;
				padding-left: 30px;
				padding-right: 11px;
				background-color: #fff;
			    padding-top: 8px;
			    padding-left: 12px;			
			    border-top: none;
			    margin-right: 0;
			    &:hover {
			    	background-color: #61ae4d;
			    	color: #fff;
			    	cursor: pointer;
			    }
			    &:last-child {
			    	border-radius: 0 0 3px 3px;
			    }
			}			
		}		
		li {
			display: inline-block;
			float: left;
			margin-right: 6px;
			&:first-child {
				input {
				    background-image: url(../img/man.gif);
				    background-position: 7px 10px;
				    background-repeat: no-repeat;
				}
			}	
			&:nth-child(2) {
				input {
				    background-image: url(../img/phone-g.png);
				    background-position: 10px;
				    background-repeat: no-repeat;
				}
			}					
		}
	}	
	ul.sizes {
		.ch {
			margin-top: -2px;
			display: none;
			position: relative;
			z-index: 0;
			li {
				display: block;
				float: none;
				border: 1px solid #61ae4d;
				height: 40px;
				width: 215px;
				padding-left: 30px;
				padding-right: 11px;
				background-color: #fff;
			    padding-top: 8px;
			    padding-left: 12px;			
			    border-top: none;
			    margin-right: 0;
			    &:hover {
			    	background-color: #61ae4d;
			    	color: #fff;
			    	cursor: pointer;
			    }
			    &:last-child {
			    	border-radius: 0 0 3px 3px;
			    }
			}			
		}
		.choose-season {
		
		}
		li {
			display: inline-block;
			float: left;
			margin-right: 6px;
			&:first-child {
				input {
				    background-image: url(../img/input-height.png);
				    background-position: 6px 17px;
				    background-repeat: no-repeat;
				}
			}	
			&:nth-child(2) {
				input {
				    background-image: url(../img/input-width.png);
				    background-position: 13px 11px;
				    background-repeat: no-repeat;
				}
			}	
			&:nth-child(3) {
				input {
				    background-image: url(../img/input-sn.png);
				    background-position: 6px 11px;
				    background-repeat: no-repeat;
				    cursor: text;
				}
			}				
		}
	}
	.except {
		padding-top: 27px;
		position: relative;
		max-width: 490px;
		display: block;
		margin: 0 auto;
		span {
			display: block;
			text-align: center;
			&:first-child {
				font-family: Roboto-Bold;
				font-size: 30px;
				padding-bottom: 7px;
			}
			&:last-child {
				font-size: 16px;
				padding-top: 9px;
			}
		}
		.close {
			width: 19px;
			height: 19px;
			position: relative;
			position: absolute;
			right: 0;
			top: 0;
			cursor: pointer;
			transition: .3s;
			opacity: .8;
			background-image: none;
			background-color: transparent; 
			&:hover {
				opacity: 1;
				transition: .3s;
			}
			&::before {
				content: '';
				position: absolute;
				height: 1px;
				width: 100%;
				background-color: $font; 
				transform: rotate(45deg);
				top: 50%;
				left: 0;
			}
			&::after {
				content: '';
				position: absolute;
				height: 1px;
				width: 100%;
				background-color: $font; 
				transform: rotate(-45deg);
				top: 50%;
				left: 0;
			}			
		}
	}
	#send-form {
		background: $orange; 
		position: relative;
		height: 40px;
		width: auto;
		padding-left: 15px;
		display: block;
		padding-right: 32px;
		border: none;
		border-radius: 3px;
		font-size: 16px;
		font-family: Roboto-Bold;
		color: #fff;
		transition: .3s;
		border: 1px solid $orange;
		padding-top: 7px;
		&::after {
		    content: '';
		    position: absolute;
		    top: 12px;
		    right: 6px;
		    border: 8px solid transparent;
		    border-left: 8px solid #fff;
		}
		&::before {
			content: '';
			position: absolute;
			left: 0;
			border: 1px solid #fff;
			bottom: 0;
			top: 0;
			margin: auto;
			width: 0;
			height: 100%;
			background-color: rgba(255,255,255,.1);
			border-radius: none;
			background-size: 100%;
			transition: .5s;
			z-index: 0;
			opacity: 0;
		}
		&:hover {
			background-color: #60ad3e; 
			transition: .3s;
			border: 1px solid #e1e1e1;
			&::before {
				height: 100%;
				width: 100%;
				transition: .3s;
				opacity: 1;
				border-radius: 3px;
				border: 1px solid #fff;
			}
		}			
	}
}

.projects {
	width: 1090px;
		.proj {
			max-width: 300px;
			display: block;
			margin: 0 auto;
			margin-bottom: 20px;
			.title {
				font-family: Roboto-Bold;
				li {
					display: inline-block;
					&:first-child {
						font-size: 48px;
						color: #61ae4d;
					}
					&:last-child {
						color: $font;
						font-size: 20px;
						text-transform: uppercase;
					}
				}
			}
			.thumb {
				height: 200px;
				width: 300px;
				overflow: hidden;
				img {
					height: 100%;
					width: auto;
					transition: 1.2s;
					&:hover {
						transform: scale(1.3);
						transition: 1.2s;
					}
				} 
			}
			.info {
				background-color: #61ae4d;
				padding: 19px 11px;
				ul {
					li {
						color: #fff;
						font-size: 18px;
					}
				}
				.details {
					font-size: 16px;
					font-family: Roboto-Bold;
					padding: 13px;
					background-color: $orange;
					color: #fff;
					display: block;
					border-radius: 4px;
					position: relative;
					&::after {
						content: '';
						position: absolute;
						left: 0;
						right: 0;
						bottom: 0;
						top: 0;
						margin: auto;
						width: 0;
						height: 0;
						background-color: #60ad3e;
						border-radius: 100%;
						background-size: 100%;
						transition: 1s;
						z-index: 0;
						opacity: 0;
					}
					&::before {
						content: attr(data-value);
						z-index: 1;
						position: relative;
					}
					&:hover {
						&::after {
							height: 100%;
							width: 100%;
							transition: .5s;
							opacity: 1;
							border-radius: 4px;
							border: 1px solid #fff;
						}
					}					
				}
			}
		}
	}	
.pagination {
	text-align: center;
	ul {
		li {
			display: inline-block;
			position: relative;
			vertical-align: middle;
			margin: 25px 0;
			&:first-child {
				height: 36px;
				width: 36px;
				background-color: #60ad3e;
				margin-right: 12px;
			    background-image: url(../img/submit.png);
			    background-repeat: no-repeat;
			    background-position: center;
			    transform: rotate(-180deg);
			    transition: .7s;
			    &:hover {
			    	background-color: $orange;
			    	transition: .3s;
			    }
			}
			&:last-child {
				height: 36px;
				width: 36px;
				background-color: #60ad3e;
				margin-left: 12px;
			    background-image: url(../img/submit.png);
			    background-repeat: no-repeat;
			    background-position: center;
			    transition: .7s;
			    &:hover {
			    	background-color: $orange;
			    	transition: .3s;
			    }
			}				
			a {
				display: block;
				height: 100%;
				width: 100%;
				font-size: 30px;
				padding: 0 7px;
				color: $font;
				&:hover {
						color: $orange;
				}
				&.active {
					color: #60ad3e;
					&:hover {
						color: $orange;
					}
				}
			}
		}
	}
}
.banner	{
	background-image: url(../img/banner.jpg);
	height: 162px;
	width: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	color: #fff;
	font-family: Roboto-Bold;
	.title {
		font-size: 36px;
		padding-left: 250px;
		margin-bottom: 17px;
		padding-top: 22px;
	}
	.block {
		font-size: 18px;
		margin-left: 250px;
		color: #fff;
		background-color: $orange; 
		padding: 10px 20px;
		border-radius: 4px;
		margin-top: 50px;
	}
}

.text {
	padding-top: 50px;
	padding-bottom: 50px;
	h5 {
		font-size: 24px;
		font-family: Roboto-Bold;
		margin-bottom: 20px;
	}
	p {
		font-size: 16px;
		line-height: 1.6;
	}
}