@import "includes/variables";
@import "includes/reset";
@import "includes/fonts";

*:focus {
	outline: none;
}

h1 {
	font-size: 48px;
	font-family: Roboto-Bold;
	color: #fff;
	max-width: 416px;
	line-height: 1.3;
}

h2 {
	font-size: 36px;
	font-family: Roboto-Bold;
	padding: 40px 0;
	text-align: center;
	line-height: 1.2;
}

h4 {
	font-size: 18px;
}

.container {
	position: relative;
}

header.header {
	background-image: url(../img/header.jpg);
	width: 100%;
	height: 650px;
	background-position: center;
	position: relative;
	.header-fixed {
		position: fixed;	
		left: 50%;
		transform: translateX(-50%);
		background-color: transparent;
		width: 100%;
		z-index: 999; 
		transition: .3s;
	}
	.bfff {
  		background-color: #fff; 
  		transition: .3s;
	}
	.mask {
		display: none
	}
	.top-header {
		z-index: 2;
		position: relative;
		.left {
			a.logo {
				width: 383px;
				height: 55px;
				margin-top: 8px;
				margin-bottom: 9px;
				display: block;
			}
		}
		.right {
			ul {
				margin-top: 20px;
				li {
					display: inline-block;
					&:first-child {
						a {
							color: #393939;
							font-size: 30px;
							font-family: Roboto-Bold;
							position: relative;
							&:hover {
								&::before {
									transform: rotate(-360deg);
									transition: .3s;
								}
								&::after {
									width: 60%;
									transition: .3s;
								}
							}
							&::before {
								content: '';
								position: absolute;
								height: 22px;
								width: 20px;
								top: 10px;
								left: -27px;
								background-image: url(../img/phone.png);
								transition: .3s;
							}
							&::after {
								content: '';
								position: absolute;
								top: 0;
								right: 0;
								width: 0;
								height: 1px;
								background-color: $font;
								transition: .3s;
							}
						}
					}
					&:nth-child(2) {
						margin-left: 7px;
						vertical-align: top;
						padding-top: 4px;
						button {
							color: #fff;
							background-color: $orange;
							font-size: 14px;
							width: 133px;
							height: 33px;
							border: none;
							border-radius: 3px;
							transition: .3s;
							border: 1px solid $orange;
							&:hover {
								background-color: #fff;
								color: $orange;
							}
						}
					}
					&:last-child {
						display: block;
						margin-top: 3px;
					}
					a {

					}
				}
			}
		}
	}
	.middle-header {
		padding: 136px 0 36px ;
		color: #fff;
		z-index: 2;
		position: relative;
		.less-h {
			font-size: 30px;
			font-family: Roboto-Bold;
		}
		.less-hh {
			font-size: 24px;
			line-height: 1.4;
		}
		.insurance {
		    color: #242323;
		    font-size: 24px;
		    position: relative;
		    background-image: url(../img/ins.png);
		    background-size: 100%;
		    height: 95px;
		    width: 342px;
		    padding: 24px 0 0 73px;
		    line-height: 1.2;
		    background-repeat: no-repeat;
		}
		a.pick-up {
			font-size: 18px;
			background-color: $orange;
			font-family: Roboto-Bold;
			border: none;
			height: 60px;
			width: 260px;
			border-radius: 4px;
			margin-top: 20px;
			position: relative;
			display: block;
			color: #fff;
			text-align: center;
			padding-top: 17px;
			&::after {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				top: 0;
				margin: auto;
				width: 0;
				height: 0;
				background-color: #20AB46;
				border-radius: 100%;
				background-size: 100%;
				transition: 1s;
				z-index: 0;
				opacity: 0;
			}
			&::before {
				content: attr(data-value);
				z-index: 1;
				position: relative;
			}
			&:hover {
				&::after {
					height: 100%;
					width: 100%;
					transition: .5s;
					opacity: 1;
					border-radius: 4px;
					border: 1px solid #fff;
				}
			}			
		}
	}
}

.top-nav ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.top-nav li {
  display: inline-block;
  margin: 0 2px;
  background: transparent;
  transition: .3s;
  position: relative;
  margin-right: 9px;
  &:last-child {
  	margin-right: 0;
  	&::after {
  		display: none;
  	}
  }
  &::after {
  	content: '';
  	background-color: #666;
  	width: 3.5px;
  	height: 3.5px;
	right: -9px;
	top: 9px;
  	position: absolute;
  	border-radius: 100%;
  }
  }

.top-nav a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  position: relative;
  transition: .3s !important;
  overflow: hidden;
  color: $menuColor;
  position: relative;
  padding-bottom: 2px;
  &::after {
  	content: '';
  	position: absolute;
  	bottom: 3px;
  	width: 100%;
  	height: 1px;
  	right: 0;
  	left: 0;
  	margin: auto;
  	background-color: #7eb271;
  	z-index: 1;
  }
  &::before {
  	content: '';
  	position: absolute;
  	bottom: 1px;
  	width: 0;
  	height: 1px;
  	right: 0;
  	left: 0;
  	margin: auto;
  	background-color: $orange;
  	z-index: 2;
  	transition: .3s;
  }
  &:hover {
  	color: $orange;
  	transition: .3s;
	  &::before {
	  	width: 100%;
	  }  
	  &::after {
	  	background-color: $orange;
	  }  	
  }
  }
  .top-nav a:hover {
  	   
  }

.mobile-menu {
  display: none;
  position: relative;
  float: right;
  width: 25px;
  height: 30px;
  border: none;
  background: transparent;
  outline: none;
  font-size: 0;
  padding: 0;
  cursor: pointer;
  margin-left: 15px;
  margin-top: 15px; }

.mobile-menu span {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  height: 4.5px;
  margin: auto;
  width: 30px;
  background: #fff; }

.mobile-menu span:before,
.mobile-menu span:after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 4.5px;
  background: #fff;
  content: ''; }

.mobile-menu span::before {
  top: -10px; }

.mobile-menu span::after {
  bottom: -10px; }

.mobile-menu.active span {
  background: transparent; }

.mobile-menu.active span:before {
  top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.mobile-menu.active span:after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

// calculate

* {
  box-sizing: border-box;
}

::selection {
  background-color: rgb(97, 174, 77);
  color: #fff;
}

.tabbed {
  width: 100%;
  margin: auto;
  position: relative;
}

.tabbed > input {
  display: none;
}

.tabbed > label {
  width: 20%;
  display: block;
  float: left;
  text-align: center;
  padding: 12px 0;
  transition: background-color .3s;
  background-color: #478d35;
  border-right: 1px solid #306f20;
  border-left: 1px solid #5da94a;
  font-size: 16px;
  color: #f5f5f5;
  &:first-child {
  	background-color: #2DB54F;
  	border-right: none;
  	border-left: none;
  	cursor: text;
  	}
  &:last-child {
	border-right: none;
  }
}

.tabbed > label:hover {

}

.tabbed > input:checked + label {
	border-right: none;
}

.heigher-cont {
	position: absolute;
	top: -11px;
	width: 100%;
	height: 11px;
	transition: .3s;
}

.heigher {
  	position: relative;
  	width: 20%;
  	height: 11px;
  	background-color: #478d35;
  	display: inline-block;
  	margin: 0;
  	padding: 0;
  	transition: .3s;
  	float: left;
  	opacity: 0;
  	&:first-child {
  		margin-left: 20%;
  	}
}

.tabs {
  clear: both;
  perspective: 600px;
  
}

.parameters {
	z-index: 9;
	position: relative;
	max-width: 20%;
	display: block;
	height: 194px;
	background-color: #fff;
	margin: 2px;
	padding: 8px 13px;
	font-size: 14px;
	color: #161616;
	overflow: auto;
	span {
		display: block;
		margin-bottom: 2px;
	}
}

.tabs > div {
  width: 100%;
  position: absolute;
  padding: 10px 30px 40px;
  line-height: 1.4em;
  opacity: 0;
  // transform: rotateX(-20deg);
  // transform-origin: top center;
  // transition: opacity .3s, transform 1s;
  z-index: 0;
  background-color: #e1e1e1;
  padding-left: calc(20% + 48px);
  padding-top: 41px;
  height: 200px;
  border: 2px solid #2DB54F;
  border-top: none;
}

#tab-nav-4:checked ~ .tabs > div:nth-of-type(4),
#tab-nav-2:checked ~ .tabs > div:nth-of-type(2),
#tab-nav-3:checked ~ .tabs > div:nth-of-type(3),
#tab-nav-1:checked ~ .tabs > div:nth-of-type(1){
  transform: rotateX(0deg);
  opacity: 1;
  z-index: 1;
}

#tab-nav-1:checked ~ .heigher-cont > .heigher:nth-of-type(1),
#tab-nav-2:checked ~ .heigher-cont > .heigher:nth-of-type(2),
#tab-nav-3:checked ~ .heigher-cont > .heigher:nth-of-type(3),
#tab-nav-4:checked ~ .heigher-cont > .heigher:nth-of-type(4){
 opacity: 1;
 transition: .3s;
}

.form-count-wrapper {
	background-color: #f5f5f5;
	padding-bottom: 50px;
	h3 {
		font-size: 36px;
		font-family: Roboto-Bold;
		padding: 40px 0;
		text-align: center;
		line-height: 1.2;		
	}
}

form.tabs {
	h4 {
		display: block;
		margin-bottom: 23px;
	}
	input {
		border: 1px solid #2DB54F;
		height: 40px;
		width: 215px;
		border-radius: 3px;
		padding-left: 30px;
		padding-right: 11px;
		z-index: 1;
		position: relative;
		&.error {
			border: 1px solid #db1717;
			box-shadow: 0 0 10px 0 rgba(255,0,0,.4);
		}
		&.not_error {
			border: 1px solid #2DB54F;
			box-shadow: none;	
		}
	}
	.check {
	    position: absolute;
	    margin-top: -31px;
	    margin-left: 185px;
	    z-index: 2;
	    color: green;
	    .fa-caret-down {
	    	padding-left: 10px;
	    }
	}
	.err {
		background-color: #cecece;
		padding: 10px 7px;
		font-size: 12px;
		border-radius: 3px;
		position: absolute;
		margin-top: 12px;
		&::after {
		    content: '';
		    position: absolute;
		    top: -15px;
		    left: 16px;
		    border: 7px solid transparent;
		    border-bottom: 9px solid #cecece;
		}
	}	
	label {
		background: $orange; 
		position: relative;
		height: 40px;
		width: 40px;
		display: block;
		border: none;
		border-radius: 3px;
		background-image: url(../img/submit.png);
		background-repeat: no-repeat;
		background-position: center; 
		cursor: pointer;
		transition: .3s;
		&:hover {
			background-color: #20AB46;
			transition: .3s;
		}
	}	
	ul.foundations {
		.ch {
			margin-top: -2px;
			display: none;
			position: relative;
			z-index: 0;
			li {
				display: block;
				float: none;
				border: 1px solid #2DB54F;
				height: 40px;
				width: 215px;
				padding-left: 30px;
				padding-right: 11px;
				background-color: #fff;
			    padding-top: 8px;
			    padding-left: 12px;			
			    border-top: none;
			    margin-right: 0;
			    &:hover {
			    	background-color: #2DB54F;
			    	color: #fff;
			    	cursor: pointer;
			    }
			    &:last-child {
			    	border-radius: 0 0 3px 3px;
			    }
			}			
		}		
		li {
			display: inline-block;
			float: left;
			margin-right: 6px;
			&:first-child {
				input {
				    background-image: url(../img/brick.gif);
				    background-position: 6px 12px;
				    background-repeat: no-repeat;
				}
			}	
			&:nth-child(2) {
				input {
				    background-image: url(../img/brush.gif);
				    background-position: 10px;
				    background-repeat: no-repeat;
				}
			}	
			&:nth-child(3) {
				input {
				    background-image: url(../img/foundation.gif);
				    background-position: 7px 9px;
				    background-repeat: no-repeat;
				}
			}				
		}
	}
	ul.contancts {
		.ch {
			margin-top: -2px;
			display: none;
			position: relative;
			z-index: 0;
			li {
				display: block;
				float: none;
				border: 1px solid #2DB54F;
				height: 40px;
				width: 215px;
				padding-left: 30px;
				padding-right: 11px;
				background-color: #fff;
			    padding-top: 8px;
			    padding-left: 12px;			
			    border-top: none;
			    margin-right: 0;
			    &:hover {
			    	background-color: #2DB54F;
			    	color: #fff;
			    	cursor: pointer;
			    }
			    &:last-child {
			    	border-radius: 0 0 3px 3px;
			    }
			}			
		}		
		li {
			display: inline-block;
			float: left;
			margin-right: 6px;
			&:first-child {
				input {
				    background-image: url(../img/man.gif);
				    background-position: 7px 10px;
				    background-repeat: no-repeat;
				}
			}	
			&:nth-child(2) {
				input {
				    background-image: url(../img/phone-g.png);
				    background-position: 10px;
				    background-repeat: no-repeat;
				}
			}					
		}
	}	
	ul.sizes {
		.ch {
			margin-top: -2px;
			display: none;
			position: relative;
			z-index: 0;
			li {
				display: block;
				float: none;
				border: 1px solid #2DB54F;
				height: 40px;
				width: 215px;
				padding-left: 30px;
				padding-right: 11px;
				background-color: #fff;
			    padding-top: 8px;
			    padding-left: 12px;			
			    border-top: none;
			    margin-right: 0;
			    &:hover {
			    	background-color: #2DB54F;
			    	color: #fff;
			    	cursor: pointer;
			    }
			    &:last-child {
			    	border-radius: 0 0 3px 3px;
			    }
			}			
		}
		.choose-season {
		
		}
		li {
			display: inline-block;
			float: left;
			margin-right: 6px;
			&:first-child {
				input {
				    background-image: url(../img/input-height.png);
				    background-position: 6px 17px;
				    background-repeat: no-repeat;
				}
			}	
			&:nth-child(2) {
				input {
				    background-image: url(../img/input-width.png);
				    background-position: 13px 11px;
				    background-repeat: no-repeat;
				}
			}	
			&:nth-child(3) {
				input {
				    background-image: url(../img/input-sn.png);
				    background-position: 6px 11px;
				    background-repeat: no-repeat;
				    cursor: text;
				}
			}				
		}
	}
	.except {
		padding-top: 27px;
		position: relative;
		max-width: 490px;
		display: block;
		margin: 0 auto;
		span {
			display: block;
			text-align: center;
			&:first-child {
				font-family: Roboto-Bold;
				font-size: 30px;
				padding-bottom: 7px;
			}
			&:last-child {
				font-size: 16px;
				padding-top: 9px;
			}
		}
		.close {
			width: 19px;
			height: 19px;
			position: relative;
			position: absolute;
			right: 0;
			top: 0;
			cursor: pointer;
			transition: .3s;
			opacity: .8;
			background-image: none;
			background-color: transparent; 
			&:hover {
				opacity: 1;
				transition: .3s;
			}
			&::before {
				content: '';
				position: absolute;
				height: 1px;
				width: 100%;
				background-color: $font; 
				transform: rotate(45deg);
				top: 50%;
				left: 0;
			}
			&::after {
				content: '';
				position: absolute;
				height: 1px;
				width: 100%;
				background-color: $font; 
				transform: rotate(-45deg);
				top: 50%;
				left: 0;
			}			
		}
	}
	#send-form {
		background: $orange; 
		position: relative;
		height: 40px;
		width: auto;
		padding-left: 15px;
		display: block;
		padding-right: 32px;
		border: none;
		border-radius: 3px;
		font-size: 16px;
		font-family: Roboto-Bold;
		color: #fff;
		transition: .3s;
		border: 1px solid $orange;
		padding-top: 7px;
		&::after {
		    content: '';
		    position: absolute;
		    top: 12px;
		    right: 6px;
		    border: 8px solid transparent;
		    border-left: 8px solid #fff;
		}
		&::before {
			content: '';
			position: absolute;
			left: 0;
			border: 1px solid #fff;
			bottom: 0;
			top: 0;
			margin: auto;
			width: 0;
			height: 100%;
			background-color: rgba(255,255,255,.1);
			border-radius: none;
			background-size: 100%;
			transition: .5s;
			z-index: 0;
			opacity: 0;
		}
		&:hover {
			background-color: #20AB46; 
			transition: .3s;
			border: 1px solid #e1e1e1;
			&::before {
				height: 100%;
				width: 100%;
				transition: .3s;
				opacity: 1;
				border-radius: 3px;
				border: 1px solid #fff;
			}
		}			
	}
}

.projects {
	width: 1090px;
	h3 {
		font-size: 36px;
		font-family: Roboto-Bold;
		padding: 40px 0;
		text-align: center;
		line-height: 1.2;		
	}
		.proj {
			max-width: 300px;
			display: block;
			margin: 0 auto;
			margin-bottom: 20px;
			.title {
				font-family: Roboto-Bold;
				li {
					display: inline-block;
					&:first-child {
						font-size: 48px;
						color: #2DB54F;
					}
					&:last-child {
						color: $font;
						font-size: 20px;
						text-transform: uppercase;
					}
				}
			}
			.thumb {
				height: 200px;
				width: 300px;
				overflow: hidden;
				img {
					height: 100%;
					width: auto;
					transition: 1.2s;
					&:hover {
						transform: scale(1.3);
						transition: 1.2s;
					}
				} 
			}
			.info {
				background-color: #2DB54F;
				padding: 19px 11px;
				ul {
					li {
						color: #fff;
						font-size: 18px;
					}
				}
				.details {
					font-size: 16px;
					font-family: Roboto-Regular;
					padding: 13px;
					background-color: $orange;
					color: #fff;
					display: block;
					border-radius: 4px;
					position: relative;
					&::after {
						content: '';
						position: absolute;
						left: 0;
						right: 0;
						bottom: 0;
						top: 0;
						margin: auto;
						width: 0;
						height: 0;
						background-color: #20AB46;
						border-radius: 100%;
						background-size: 100%;
						transition: 1s;
						z-index: 0;
						opacity: 0;
					}
					&::before {
						content: attr(data-value);
						z-index: 1;
						position: relative;
					}
					&:hover {
						&::after {
							height: 100%;
							width: 100%;
							transition: .5s;
							opacity: 1;
							border-radius: 4px;
							border: 1px solid #fff;
						}
					}					
				}
			}
		}
	}	
.pagination {
	text-align: center;
	position: relative;
	z-index: 99;
	max-width: 215px;
	.carousel-indicators {
		position: absolute;
		bottom: -40px;
		z-index: 15;
		width: 100%;
		left: 0;
		margin-left: 0;
		padding-left: 0;
		list-style: none;
		text-align: center;
		li {
			position: relative;
			background-color: transparent; 
			text-align: center;
			display: inline;
			font-size: 30px;
			padding: 0 7px;	
			&:hover {
				&::after {
					color: $orange;
				}
			}		
			&::after {
				content: attr(data-number) ;
				position: relative;
				height: 10px;
				width: 10px;
				color: $font;
			}
			&.active {
				&::after {
					color: #20AB46;
				}
				&:hover {
						&::after {
							color: $orange;
						}
					}
			}			
		}
	}
	div:first-child {
		height: 36px;
		width: 36px;
		background-color: #20AB46;
		margin-right: 12px;
	    background-image: url(../img/submit.png);
	    background-repeat: no-repeat;
	    background-position: center;
	    transform: rotate(-180deg);
	    transition: .7s;
	    position: absolute;
	    top: 0;
	    left: 0;
	    z-index: 99;
	    cursor: pointer;
	    &:hover {
	    	background-color: $orange;
	    	transition: .3s;
	    }
	}
	div:last-child {
		height: 36px;
		width: 36px;
		background-color: #20AB46;
		margin-left: 12px;
	    background-image: url(../img/submit.png);
	    background-repeat: no-repeat;
	    background-position: center;
	    transition: .7s;
	    position: absolute;
	    top: 0;
	    right: 0;
	    z-index: 99;
	    cursor: pointer;
	    &:hover {
	    	background-color: $orange;
	    	transition: .3s;
	    }
	}	
	ul {
		li {
			display: inline-block;
			position: relative;
			vertical-align: middle;
			margin: 25px 0;				
			a {
				display: block;
				height: 100%;
				width: 100%;
				font-size: 30px;
				padding: 0 7px;
				color: $font;
				&:hover {
						color: $orange;
						cursor: pointer;
				}
			}
			&.active {
				a {
					color: #20AB46;
					&:hover {
						color: $orange;
					}
				}
			}
		}
	}
}
.banner	{
	background-image: url(../img/banner.jpg);
	height: 162px;
	width: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	color: #fff;
	font-family: Roboto-Bold;
	margin-top: 60px;
	.title {
		font-size: 36px;
		padding-left: 250px;
		margin-bottom: 17px;
		padding-top: 22px;
	}
	.block {
		font-size: 18px;
		margin-left: 250px;
		color: #fff;
		background-color: $orange; 
		padding: 10px 20px;
		border-radius: 4px;
		margin-top: 50px;
		transition: 1s;
		&:hover {
			background-color: #2DB54F; 
			transition: 1s;
		}
	}
}

.text {
	padding-top: 50px;
	padding-bottom: 50px;
	h4 {
		font-size: 24px;
		font-family: Roboto-Bold;
		margin-bottom: 20px;
	}
	p {
		font-size: 16px;
		line-height: 1.6;
	}
}

.count-head-wrapper {
	width: 100%;
	background: #2DB54F;
	padding: 26.5px 0;
	color: #fff;
	.title {
		font-size: 40px;
		font-family: Roboto-Bold;
		max-width: 460px;
		line-height: 1.2;
	}
	h3 {
		font-size: 40px;
		font-family: Roboto-Bold;
		max-width: 460px;
		line-height: 1.2;	
	}
	.sub-title {
		font-size: 18px;
		max-width: 450px;
		margin-top: 5px;
	}	
}
.count-body-wrapper {
	background-color: #f5f5f5;
	.left {
		width: calc(100% - 480px);
		.f-l {
			padding: 0;
			margin-bottom: 40px;
		}
		.f-r {
			padding: 0;
			margin-bottom: 40px;
		}
		.cost {
			margin-top: 45px;
			display: block;
			.title {
				font-size: 16px;
			}
			.value {
				color: #2DB54F;
				font-size: 36px;
				font-family: Roboto-Bold;
				span {
					font-size: 24px;
				}
			}
		}
		.inp-block {
			label {
				display: block;
				font-family: Roboto-Medium;
				font-size: 16px;
				margin-top: 25px;
				margin-bottom: 5px;
			}
			input {
			    border: 1px solid #2DB54F;
			    height: 40px;
			    width: 215px;
			    border-radius: 3px;
			    padding-left: 13px;
			    padding-right: 11px;
			    position: relative;
			    cursor: pointer;
			}
			i {
				z-index: 2;
				position: relative;
				color: #2DB54F;
				margin-left: -26px;
			}
			ul {
				margin-top: -2px;
				display: none;
				position: absolute;
				z-index: 3;
				li {
					display: block;
					float: none;
					border: 1px solid #2DB54F;
					height: 40px;
					width: 215px;
					padding-left: 30px;
					padding-right: 11px;
					background-color: #fff;
					padding-top: 8px;
					padding-left: 12px;
					border-bottom: none;
					margin-right: 0;	
				    &:hover {
				    	background-color: #2DB54F;
				    	color: #fff;
				    	cursor: pointer;
				    }
				    &:last-child {
				    	border-radius: 0 0 3px 3px;
				    	border: 1px solid #2DB54F;
				    }									
				}
			}
		}
	}
	.right {
		width: 480px;
		height: 670px;
		background-image: url(../img/greener-1.jpg);
		margin-top: -238px;
		.get-to-know {
			text-align: center;
			padding-top: 347px;
			position: relative;
			&::after {
				content: '';
				position: absolute;
				bottom: -64px;
				left: 0;
				background-color: #e1e1e1;
				height: 18px;
				width: 100%;
			}
			.title {
				font-size: 24px;
				font-family: Roboto-Bold;
				max-width: 350px;
				display: block;
				margin: 0 auto;
				line-height: 1.2;
				margin-bottom: 5px;
			}
			.sub-title {
				font-size: 16px;
				max-width: 400px;
				display: block;
				margin: 0 auto;
				line-height: 1.2;
			}
			form {
				margin-top: 30px;
				input {
					display: block;
				    border: 1px solid #2DB54F;
				    height: 40px;
				    width: 215px;
				    border-radius: 3px;
				    padding-left: 13px;
				    padding-right: 11px;
				    position: relative;
				    margin: auto;
				    margin-bottom: 14px;
				}
				button {
					font-size: 16px;
					background-color: $orange;
					font-family: Roboto-Bold;
					border: none;
				    height: 40px;
				    width: 215px;
					border-radius: 4px;
					position: relative;
					color: #fff;
					&::after {
						content: '';
						position: absolute;
						left: 0;
						right: 0;
						bottom: 0;
						top: 0;
						margin: auto;
						width: 0;
						height: 0;
						background-color: #20AB46;
						border-radius: 100%;
						background-size: 100%;
						transition: 1s;
						z-index: 0;
						opacity: 0;
					}
					&::before {
						content: attr(data-value);
						z-index: 1;
						position: relative;
					}
					&:hover {
						&::after {
							height: 100%;
							width: 100%;
							transition: .5s;
							opacity: 1;
							border-radius: 4px;
							border: 1px solid #fff;
						}
					}						
				}
			}
		}
	}
}
.realized-projects {
	padding-bottom: 100px;
	.tit {
		font-size: 36px;
		font-family: Roboto-Bold;
		padding: 40px 0 0;
		text-align: center;
		line-height: 1.2;		
	}
	.carousel-indicators {
		bottom: -75px;;
		left: 0px;
		z-index: 15;
		width: 100%;
		margin-left: 0;
		padding-left: 0;
		list-style: none;
		text-align: left;
		li {
	    	outline: 5px solid transparent;
	    	outline-offset: -5px;
	    	margin: 0;
	    	width: 114px;
		    height: 64px;
		    background-color: transparent;
		    border: none;
		    opacity: .4;
	    	img {
		    	width: 100%;
		    	height: 100%;
	    	}
	    	&.active {
		    	width: 114px;
			    height: 64px;
		    	outline: 5px solid #2DB54F;
		    	outline-offset: -5px;	
		    	background-color: transparent;	    
		    	opacity: 1;
		    	img {
			    	width: 100%;
			    	height: 100%;
		    	}	
	    	}
		}
	}

	.carousel-control.left{
			background: none;
			opacity: 1;
			height: 36px;
			width: 36px;
			background-color: #fff; 
			background-image: url(../img/ar-green.png);
			background-repeat: no-repeat;
			left: 11px;
			background-position: center;
			transform: translateY(-50%) rotate(-180deg);
		}

	.carousel-control.right {
	    	right: 11px;
			background: none;
			opacity: 1;
			height: 36px;
			width: 36px;
	    	background-color: #fff; 
	    	background-image: url(../img/ar-green.png);
	    	background-repeat: no-repeat;
	    	background-position: center;
	    }

	h2 {
		padding-bottom: 10px;
	}
	h3 {
		font-size: 36px;
		font-family: Roboto-Bold;
		padding: 40px 0;
		text-align: center;
		line-height: 1.2;		
	}
	.sub-t {
		font-size: 30px;
		color: #2DB54F;
		font-family: Roboto-Bold;
		text-align: center;
		padding-bottom: 20px;
	}
	.left-c {
		width: calc(100% - 420px);
		.img-wr {
			overflow: hidden;
			height: 400px;
			img {
				height: 400px;
			}
		}
	}
	.right-c {
		background-color: #2DB54F;
		width: 420px;
		padding: 26px 28px;
		.title {
			font-size: 30px;
			color: #fff;
			font-family: Roboto-Bold;
		}
		.sub-title {
			font-size: 18px;
			font-family: Roboto-Bold;
			color: #fff;
			margin-top: 20px;
		}
		p {
			font-size: 16px;
			line-height: 1.5;
		}
		b {
			font-family: Roboto-Bold;
		}
	}
}

.demo {
    width:100%;
	ul {
	    list-style: none outside none;
	    padding-left: 0;
	    margin-bottom:0;
	}
	img {
	    display: block;
	    height: auto;
	    width: 100%;
	}    
}

.lSAction>.lSNext {
    right: 430px;
}

.lSSlideOuter .lSPager.lSGallery li {
	opacity: .4;
	transition: 1s;
}
.lSSlideOuter .lSPager.lSGallery li.active, .lSSlideOuter .lSPager.lSGallery li:hover {
	opacity: 1;
	border-radius: 0;
	transition: 1s;
	&:hover {
		border-radius: 0;
		transition: 1s;
	}
}

.lSAction>.lSPrev {
    background-position: 0 0;
    left: 0;
}

.lSAction > .lSNext {
	height: 36px;
    width: 36px;
    background-color: #20AB46;
    margin-left: 12px;
    background-image: url(../img/submit.png);
    background-repeat: no-repeat;
    background-position: center;
    transition: .7s;
    opacity: 1;
    &:hover {
    	background-color: $orange;
    }
}

.lSAction > .lSPrev {
    height: 36px;
    width: 36px;
    background-color: #20AB46;
    margin-left: 12px;
    background-image: url(../img/submit.png);
    background-repeat: no-repeat;
    background-position: center center;
    transition: 0.7s;	
    transform: rotate(-180deg);
    opacity: 1;
    &:hover {
    	background-color: $orange;
    }
}
.button-want {
	font-size: 18px;
	background-color: $orange;
	font-family: Roboto-Bold;
	border: none;
	height: 60px;
	width: 260px;
	border-radius: 4px;
	position: relative;
	display: block;
	color: #fff;
	text-align: center;
	display: block;
	margin: 0 auto;
	margin-top: 10px;
	&::after {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		margin: auto;
		width: 0;
		height: 0;
		background-color: #20AB46;
		border-radius: 100%;
		background-size: 100%;
		transition: 1s;
		z-index: 0;
		opacity: 0;
	}
	&::before {
		content: attr(data-value);
		z-index: 1;
		position: relative;
		color: #fff;
		padding-top: 17px;
		display: block;
	}
	&:hover {
		&::after {
			height: 100%;
			width: 100%;
			transition: .5s;
			opacity: 1;
			border-radius: 4px;
			border: 1px solid #fff;
		}
	}
}

.in-numbers-wrapper {
	color: #fff;
	text-align: center;
	padding-top: 20px;
	background-image: url(../img/in-numbers-background.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	.tit {
		font-size: 36px;
		font-family: Roboto-Bold;
		padding: 40px 0;
		text-align: center;
		line-height: 1.2;		
	}
	.im-numbers {
		.num-block {
			margin-bottom: 80px;
			padding: 0;
			&:first-child {
				.num {
					&::before {
						display: none;
					}
					i {
						display: none;
					}
				}
			}
			&:nth-child(3) {
				.num {
					&::after {
						display: none;
					}
				}
			}
			&:last-child {
				.num {
					&::after {
						display: none;
					}
				}
			}						
		}
		img {
			display: block;
			margin: 0 auto;
			height: 141px;
			width: 141px;
			transition: 1s;
			cursor: pointer;
			&:hover {
				transform: scale(1.1);
				transition: 1s;
			}
		}
		i {
			font-size: 30px;
			font-weight: 100;
			vertical-align: top;
			padding-top: 22px;
		}
		.num {
			padding: 10px 0;
			font-size: 48px;
			color: #2DB54F;
			font-family: Roboto-Bold;
			position: relative;
			width: auto;
			display: inline;
			margin: 0 auto;
			&::after {
				content: '';
				position: absolute;
				right: -163px;
				height: 1px;
				background-image: url(../img/dot.png);
				background-position: left bottom;
				background-repeat: repeat-x;
				width: 154px;
				top: 46px;
			}
			&::before {
				content: '';
				position: absolute;
				left: -86px;
				height: 1px;
				background-image: url(../img/dot.png);
				background-position: left bottom;
				background-repeat: repeat-x;
				width: 83px;
				top: 46px;
			}			
		}
		p {
			font-size: 20px;
			font-family: Roboto-Bold;
			line-height: 1.2;
		}
		.row-2 {
			max-width: 678px;
			margin: auto;
		}
	}
}

.calc_block{
	margin: 25px 0;
}
.cb_details{
	width: 20%;
	float: left;
	box-sizing: border-box;
	border-right: none;
	background-color: #fff;
}
.cd_td{
	width: 25%;
	float: left;
	box-sizing: border-box;
	border-bottom: 0;
	border-left: 1px solid #5da94a;
    font-size: 16px;
    color: #f5f5f5;	
}
.cb_desc{
	width: 80%;
	float: left;
	box-sizing: border-box;
	border-left: 0;
}
.cbd_title a{
	padding: 14px 20px;
	text-align: center;
	text-decoration: none;
	display: block;
	position: relative;
	background-color: #478d35;
    border-right: 1px solid #306f20;
    font-size: 16px;
    color: #f5f5f5;
}
// .cb_desc .cbd_title a{
// 	border-right: 1px solid #1d4061;
// 	border-left: 1px solid #477199;
// }
// .cb_details .cbd_title a{
// 	border-right: 1px solid #1d4061;
// }
.cb_desc .cbd_title.active a {
	color: #fff;
}
// .cb_desc .cbd_title.active a:after,
// .cb_desc .cbdt a:hover:after{
// 	display: block;
// 	content: ".";
// 	position: absolute;
// 	bottom: 0;
// 	border-bottom: 2px solid #fff;
// 	left: 0;
// 	width: 100%;
// 	font-size: 0;
// }
// .cb_desc .cbd_title.active a:before,
// .cb_desc .cbdt a:hover:before{
// 	display: block;
// 	content: ".";
// 	position: absolute;
// 	bottom: -2px;
// 	border-bottom: 2px solid #2f567c;
// 	left: 0;
// 	width: 100%;
// 	font-size: 0;
// }
.cbd_desc{
	height: 200px;
	padding: 20px;
	border-bottom: 2px solid #2DB54F;
	border-left: 2px solid #2DB54F;	
}
.cdc_desc{
	padding-top: 25px;
	height: 200px;
	background-color: #e1e1e1;
	border-bottom: 2px solid #2DB54F;
	border-right: 2px solid #2DB54F;
}
.cb div {
    position: absolute;
    top: -15px;
    left: -10px;
    width: 258px;
    height: 39px;
    background: url(../img/tpl.png) 0 0 no-repeat;
    padding: 6px 0 0 10px;
    font-size: 14px;
	font-weight: bold;
    color: #fff;
}
.cd{
	display: none;
}
.cd_1{
	display: block;
}
.cd form{
	padding: 10px 30px 40px;
}
.cd form > div{
	width: 40%;
	margin: 0 1% 0 0;
	float: left;
}
.cd form > div:last-child{
	width: 100%;
}
.cd form.form_c3,
.cd form.form_c4{
	width: 100%;
}
.form_c4{
	position: relative;
}
.cd form.form_c3 > div{
	width: 28%;
	margin: 0 1% 0 0;
	float: left;
}
.cd form.form_c3 > div:last-child{
	width: 40%;
}
.cd form div input{
	margin: 0;
	border: 2px solid #2f567c;
}
.cd form a{
	margin: 0;
	width: auto;	
	float: left;
}
.ms{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #fff;
	padding: 50px 30px 0;
	font-family: roboto_Light;
	font-size: 24px;
	line-height: 160%;
	text-align: left;
	z-index: 2;
}
.ms_close{
	position: absolute;
	right: 22px;
	top: 13px;
}
.form_c4 .ms_close{
	top: -22px;
	right: 10%;
}
.vs_t{
	text-align: center;
	font-size: 30px;
	color: #ff8310;
	text-transform: uppercase;
	line-height: 100%;
	display: block;
	font-weight: bold;
}
.vs_d{
	text-align: center;
	font-size: 18px;
	line-height: 100%;
	display: block;
}
.block_r{
	margin: 0 15% 0 25%;
	position: relative;
	min-height: 220px;
}
.block_r h1{
	font-size: 30px;
}
.slog{
	font-size: 18px;
	margin: 10px 0 0;
}
.car{
	position: absolute;
	left: -250px;
	top: 0;
}
.block_form{
	background: #f5f5f5;
	padding: 20px 20px 1px;
	margin: 20px 0 40px;
}
label{
	font-size: 16px;
}
label span{
	color: #e70036;
}
.row .inp{
	margin: 7px 0 0;
}
.row{
	margin: 0 0 20px;
	position: relative;
}
.bi{
	position: relative;
}
.bi.error .inp{
	border-color: #e70036;
	box-shadow: 0 0 7px #e70036;
}
.mess{
	display: none;
}
.bi.error .mess{
	display: block;
	background: #b3b3b3;
	color: #fff;
	font-size: 12px;
	padding: 7px 7px;
	position: absolute;
	bottom: -36px;
	left: 0px;
	z-index: 2;
}
.bi.error .mess:after{
    border: 5px solid transparent;
    border-bottom: 5px solid #b3b3b3;
    position: absolute;
    content: "";
    top: -10px;
    left: 13px;
}
.bil{
	float: left;
	width: 49%;
}
.bir{
	float: right;
	width: 49%;
}
.vvt,
.vvf{
	cursor: pointer;
}
.in_cnt{
	margin: 0 0 15px;
}
.in_cnt li{
	margin: 0 0 5px;
	padding: 0 0 0 20px;
}
.row_hide .row.disable{
	display: none;
}
.hide_other{
	display: none;
}
.add_file{
	color: #2f567c;
	float: left;
}

#file_btn_1,
#file_btn_2{
	position: relative;
	float: left;
	margin: -3px 10px 0 10px;
	cursor: pointer;
}
#file1,
#file2{
	display: none;
}
.file_name{
	float: left;
	color: #8a8a8a;
}
.for_btn{
	margin: 20px 25% 10px;
}
.h1c{
	color: #ff8310;
	margin-bottom: 0;
}
.slogh1{
	color: #1a3a59;
	font-size: 30px;
}
.pops{
	display: none;
}
.form_title{
	font-size: 30px;
	font-weight: bold;
}
.form_desc{
	padding: 35px 0 0;
	text-align: center;
}
.pop{
	width: 500px;
	box-sizing: border-box;
	background: #fff;
	border: 3px solid #ff8310;
	padding: 30px 50px;
}
.pop form{
	margin: 0 15%;
}
.form_sank_title{
	color: #ff8310;
	font-size: 30px;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
}
.form_sank_desc{
	font-size: 18px;
	text-align: center;
}
.block-nav{
	display: none;
}

.cbd_title.active {
	position: relative;
	&::before {
		content: '';
		position: absolute;
		top: -11px;
		left: 0;
		width: 100%;
		height: 11px;
		background-color: rgb(71, 141, 53);
	}
}

.cb_details {
	.cbd_title a {
		padding: 14px 20px;
	}
}

.cdc_desc{
	h4 {
		display: block;
		margin-bottom: 23px;
	}
	input {
		border: 1px solid #2DB54F;
		height: 40px;
		width: 215px;
		border-radius: 3px;
		padding-left: 30px;
		padding-right: 11px;
		z-index: 1;
		position: relative;
		&.error {
			border: 1px solid #db1717;
			box-shadow: 0 0 10px 0 rgba(255,0,0,.4);
		}
		&.not_error {
			border: 1px solid #2DB54F;
			box-shadow: none;	
		}
	}
	.check {
	    position: absolute;
	    margin-top: -31px;
	    margin-left: 185px;
	    z-index: 2;
	    color: green;
	    .fa-caret-down {
	    	padding-left: 10px;
	    }
	}
	.err {
		background-color: #cecece;
		padding: 10px 7px;
		font-size: 12px;
		border-radius: 3px;
		position: absolute;
		margin-top: 12px;
		&::after {
		    content: '';
		    position: absolute;
		    top: -15px;
		    left: 16px;
		    border: 7px solid transparent;
		    border-bottom: 9px solid #cecece;
		}
	}	
	label {
		background: $orange; 
		position: relative;
		height: 40px;
		width: 40px;
		display: block;
		border: none;
		border-radius: 3px;
		background-image: url(../img/submit.png);
		background-repeat: no-repeat;
		background-position: center; 
		cursor: pointer;
		transition: .3s;
		&:hover {
			background-color: #20AB46;
			transition: .3s;
		}
	}		
	ul.sizes {
		.ch {
			margin-top: -2px;
			display: none;
			position: relative;
			z-index: 0;
			li {
				display: block;
				float: none;
				border: 1px solid #2DB54F;
				height: 40px;
				width: 215px;
				padding-left: 30px;
				padding-right: 11px;
				background-color: #fff;
			    padding-top: 8px;
			    padding-left: 12px;			
			    border-top: none;
			    margin-right: 0;
			    &:hover {
			    	background-color: #2DB54F;
			    	color: #fff;
			    	cursor: pointer;
			    }
			    &:last-child {
			    	border-radius: 0 0 3px 3px;
			    }
			}			
		}
		.choose-season {
		
		}
		li {
			display: inline-block;
			float: left;
			margin-right: 6px;
			&:first-child {
				input {
				    background-image: url(../img/input-height.png);
				    background-position: 6px 17px;
				    background-repeat: no-repeat;
				}
			}	
			&:nth-child(2) {
				input {
				    background-image: url(../img/input-width.png);
				    background-position: 13px 11px;
				    background-repeat: no-repeat;
				}
			}	
			&:nth-child(3) {
				input {
				    background-image: url(../img/input-sn.png);
				    background-position: 6px 11px;
				    background-repeat: no-repeat;
				    cursor: text;
				}
			}				
		}
	}
	.except {
		padding-top: 27px;
	    position: absolute;
	    left: 50%;
	    transform: translateX(-50%);
		max-width: 490px;
		span {
			display: block;
			text-align: center;
			&:first-child {
				font-family: Roboto-Bold;
				font-size: 30px;
				padding-bottom: 7px;
			}
			&:last-child {
				font-size: 16px;
				padding-top: 9px;
			}
		}
		.close {
			width: 19px;
			height: 19px;
			position: relative;
			position: absolute;
			right: 0;
			top: 0;
			cursor: pointer;
			transition: .3s;
			opacity: .8;
			background-image: none;
			background-color: transparent; 
			&:hover {
				opacity: 1;
				transition: .3s;
			}
			&::before {
				content: '';
				position: absolute;
				height: 1px;
				width: 100%;
				background-color: $font; 
				transform: rotate(45deg);
				top: 50%;
				left: 0;
			}
			&::after {
				content: '';
				position: absolute;
				height: 1px;
				width: 100%;
				background-color: $font; 
				transform: rotate(-45deg);
				top: 50%;
				left: 0;
			}			
		}
	}	
}

.demo_2 {
	margin-top: 20px;
	.lSAction > .lSPrev	{
		background-color: #fff; 
		background-image: url(../img/ar-green.png);
	}

	.lSAction > .lSNext {
    	right: 11px;
    	background-color: #fff; 
    	background-image: url(../img/ar-green.png);
	}
	.lSSlideOuter .lSPager.lSGallery li.active {
    	outline: 5px solid #2DB54F;
    	outline-offset: -5px;
	}
	.lSSlideOuter .lSPager.lSGallery li {
    	outline: 5px solid transparent;
    	outline-offset: -5px;
	}	
	.want-wrapper {
		position: absolute;
	    right: 15px;
	    background-color: #fff;
	    padding: 19px 62px;
	    z-index: 99;
	}
	.button-want {
		cursor: pointer;
	}	
	.right-c {
		height: 400px;
		overflow: auto;
	}
	.right-c .title {
		font-size: 24px;
	}
	ul.carusel-list {
		padding: 10px 0;
		li {
			font-size: 16px;
			color: #2e2e2e;
			font-family: Roboto-Bold;
			position: relative;
			padding-left: 15px;
			padding-top: 3px;
			padding-bottom: 3px;
			&::before {
				content: '';
				height: 5px;
				position: absolute;
				width: 5px;
				border-radius: 100%;
				background-color: #2e2e2e;
				left: 0;
				top: 11px;
			}
		}
	}
}

.steps {
	background-color: #f5f5f5;
	color: $font;
	background-image: none;
	h2 {
		margin-bottom: 20px;
	}
	.tit {
		font-size: 36px;
		font-family: Roboto-Bold;
		padding: 40px 0;
		text-align: center;
		line-height: 1.2;		
	}
	.im-numbers {
		img {
			height: 120px;
			width: auto;
		}
		p {
			font-family: Roboto-Regular;
			b {
				font-family: Roboto-Bold;
			}
		}
	}

	.im-numbers .num::after {
	    content: '';
	    position: absolute;
	    right: -185px;
	    height: 1px;
	    background-image: url(../img/dot.png);
	    background-position: left bottom;
	    background-repeat: repeat-x;
	    width: 173px;
	    top: 46px;
	}		
}

#map {
	width: 100%;
	height: 400px;
}

.contacts-wrapp {
	margin-top: -365px;
	margin-bottom: 50px;
}

.contacts-block {
	background-color: #2DB54F;
	padding: 30px;
	width: 100%;
	max-width: 400px;
	margin-top: -365px;
	margin-bottom: 50px;
	position: absolute;
	.logo {
		a {
			img {
				width: 310px;
				height: 45px;
				margin-bottom: 10px;
			}
		}
	}
	.title {
		font-size: 30px;
		font-family: Roboto-Bold;
		color: #fff;
		margin-bottom: 10px;
	}
	ul {
		li {
			color: #fff;
			font-size: 20px;
			font-family: Roboto-Regular;
			padding-left: 35px;
			position: relative;
			margin-bottom: 7px;
			&::before {
					content: '';
					position: absolute;
					width: 20px;
					height: 26px;
					background-image: url(../img/sprite-bottom.png);
					background-position: 0 0; 
					left: 0px;
					top: 3px;
			}
			&:nth-child(2) {
				&::before {
				    width: 28px;
				    height: 20px;
				    background-position: 0 -23px;
				    top: 7px;
				}
				a {
					position: relative;
					&::after {
						content: '';
						position: absolute;
						bottom: 0;
						left: 0;
						height: 1px;
						background-color: #fff;
						width: 100%;
					}
					&:hover {
						&::after {
							display: none;
						}
					}
				}
			}
			&:last-child {
				&::before {
				    width: 25px;
				    height: 28px;
				    background-position: 0 28px;
				}
			}
			&:first-child {
				a {
					font-size: 20px;
					font-family: Roboto-Bold;
				}
			}
			a {
				color: #fff;
				font-size: 20px;
				font-family: Roboto-Regular;
			}
		}
	}
}

footer.footer {
	padding-bottom: 15px;
	padding-top: 15px;
	.bottom-foot {
		&:nth-child(2) {
			img {
				padding-top: 15px;
				display: block;
				margin: 0 auto;
			}
		}
		&:last-child {
			text-align: right;
		}
	}
	ul {
		margin-top: 20px;
		li {
			display: inline-block;
			&:first-child {
				a {
					color: #393939;
					font-size: 24px;
					font-family: Roboto-Bold;
					position: relative;
					&:hover {
						&::before {
							transform: rotate(-360deg);
							transition: .3s;
						}
						&::after {
							width: 60%;
							transition: .3s;
						}
					}
					&::before {
						content: '';
						position: absolute;
						height: 22px;
						width: 20px;
						top: 6px;
						left: -27px;
						background-image: url(../img/phone.png);
						transition: .3s;
					}
					&::after {
						content: '';
						position: absolute;
						top: 0;
						right: 0;
						width: 0;
						height: 1px;
						background-color: $font;
						transition: .3s;
					}
				}
			}
			&:nth-child(2) {
				margin-left: 7px;
				vertical-align: top;
				padding-top: 4px;
				button {
					color: #fff;
					background-color: $orange;
					font-size: 14px;
					width: 133px;
					height: 33px;
					border: none;
					border-radius: 3px;
					transition: .3s;
					border: 1px solid $orange;
					&:hover {
						background-color: #fff;
						color: $orange;
					}
				}
			}
		}
	}
}	

.carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;
        }
        
        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
        top: 50%;
        transform: translateY(-50%);
    }
}
	#slick-slider-outer {
	}   

	#slick-slider-inner {
	}
	
	.slick-next {
		right: -10px;
		background: none;
		opacity: 1;
		height: 36px;
		width: 36px;
    	background-color: #2DB54F; 
    	background-image: url(../img/submit.png);
    	background-repeat: no-repeat;
    	background-position: center;
    	transition: .8s;
    	&::before {
    		display: none;
    	}	
	}
	.slick-prev {
		left: -10px;
		z-index: 99;
		opacity: 1;
		height: 36px;
		width: 36px;
		background-color: #2DB54F; 
		background-image: url(../img/submit.png);
		background-repeat: no-repeat;
		background-position: center;
		transform: translateY(-50%) rotate(-180deg);	
		transition: .8s;
		&::before {
			display: none;
		}	
	}
.slick-prev:focus {
	z-index: 99;
	opacity: 1;
	height: 36px;
	width: 36px;
	background-color: #2DB54F; 
	transition: .8s;
	background-image: url(../img/submit.png);
	background-repeat: no-repeat;
	background-position: center;
	transform: translateY(-50%) rotate(-180deg);		
}
.slick-prev:hover {
	z-index: 99;
	opacity: 1;
	height: 36px;
	width: 36px;
	background-color: $orange; 
	transition: .8s;
	background-image: url(../img/submit.png);
	background-repeat: no-repeat;
	background-position: center;
	transform: translateY(-50%) rotate(-180deg);
}	
.slick-next:focus {
	z-index: 99;
	opacity: 1;
	height: 36px;
	width: 36px;
	background-color: #2DB54F; 
	transition: .8s;
	background-image: url(../img/submit.png);
	background-repeat: no-repeat;
	background-position: center;
}
.slick-next:hover {
	z-index: 99;
	opacity: 1;
	height: 36px;
	width: 36px;
	background-color: $orange; 
	transition: .8s;
	background-image: url(../img/submit.png);
	background-repeat: no-repeat;
	background-position: center;
}

.slick-slide {
	opacity: .4;
	cursor: pointer;
	transition: .6s;
	&:hover {
		opacity: 1;
		transition: .6s;
	}
}

.slick-slide.slick-current {
	opacity: 1;
}

.left-c {
	.slick-slide {
		opacity: 1;
		cursor: default;
	}
	.slick-prev {
		left: 11px;
	}
	.slick-next {
		right: 11px;
	}
}

.no-b {
	padding-bottom: 10px !important;
}

#anchor-1,
#anchor-5 {
  margin-top: 20px;
}

.popup {
	position: fixed;
	top: 100px;
	left: 50px;
	right: 50px;
	margin: auto;
	background-color: #f5f5f5;
	text-align: center;
	z-index: 99999;
	display: none;
	&.small {
		width: 100%;
		max-width: 400px;
		padding: 50px 10px;
		height: auto;
	}
	&.medium {
		max-width: 580px;
		width: 100%;
		padding: 50px 10px;
		height: auto;
		input {
			display: inline-block;
			margin-left: 7px;
			margin-right: 7px;
		}
	}
	&.huge {
		max-width: 900px;
		
		padding: 0 50px;
		.h-p {
			margin-top: 100px;
			z-index: 999;
			background-color: #f5f5f5; 
		}		
		.left {
			width: calc(100% - 300px);
		}
		.right {
			width: 280px;
			text-align: left;
			padding-top: 15px;
			.reh {
				font-size: 16px;
				color: $font;
			}
			.value {
				font-family: Roboto-Bold;
				font-size: 36px;
				color: $green;
				span {
					font-size: 24px;
				}
			}
			.look {
				color: $orange;
				font-family: Roboto-Bold;
			}
			.titl {
				font-size: 24px;
				color: $green;
				font-family: Roboto-Bold;
				line-height: 1;
				border-bottom: 2px solid $green;
				margin-top: 20px;
			}
			.inp-block {
				position: relative;
				i {
					z-index: 2;
					position: absolute;
					color: #2DB54F;
					margin-left: 192px;
					top: 12px;
				}
				ul {
					display: none;
					position: absolute;
					z-index: 999;
					li {
						border: 1px solid #2DB54F;
					    height: 40px;
					    width: 215px;
					    padding-top: 7px;
					    border-radius: 3px;
					    padding-left: 13px;
					    padding-right: 11px;
					    position: relative;
					    cursor: pointer;
					    background-color: #fff;
					    color: #979797; 
					}
				}
				label {
					display: none;
					// font-family: Roboto-Medium;
					// font-size: 16px;
					// margin-top: 25px;
					// margin-bottom: 5px;
					// position: absolute;
				}
			}
		}
		.tit {
			font-size: 36px;
			font-family: Roboto-Bold;
			padding: 40px 0 0;
			text-align: center;
			line-height: 1.2;		
		}
		.carousel-indicators {
			bottom: -75px;;
			left: 0px;
			z-index: 15;
			width: 100%;
			margin-left: 0;
			padding-left: 0;
			list-style: none;
			text-align: left;
			li {
		    	outline: 5px solid transparent;
		    	outline-offset: -5px;
		    	margin: 0;
		    	width: 114px;
			    height: 64px;
			    background-color: transparent;
			    border: none;
			    opacity: .4;
		    	img {
			    	width: 100%;
			    	height: 100%;
		    	}
		    	&.active {
			    	width: 114px;
				    height: 64px;
			    	outline: 5px solid #2DB54F;
			    	outline-offset: -5px;	
			    	background-color: transparent;	    
			    	opacity: 1;
			    	img {
				    	width: 100%;
				    	height: 100%;
			    	}	
		    	}
			}
		}

		.carousel-control.left{
				background: none;
				opacity: 1;
				height: 36px;
				width: 36px;
				background-color: $green; 
				background-image: url(../img/submit.png);
				background-repeat: no-repeat;
				left: 11px;
				background-position: center;
				transform: translateY(-50%) rotate(-180deg);
			}

		.carousel-control.right {
		    	right: 11px;
				background: none;
				opacity: 1;
				height: 36px;
				width: 36px;
		    	background-color: $green; 
		    	background-image: url(../img/submit.png);
		    	background-repeat: no-repeat;
		    	background-position: center;
		    }

		h2 {
			padding-bottom: 10px;
		}
		h3 {
			font-size: 36px;
			font-family: Roboto-Bold;
			padding: 40px 0;
			text-align: center;
			line-height: 1.2;		
		}
		.sub-t {
			font-size: 30px;
			color: #2DB54F;
			font-family: Roboto-Bold;
			text-align: center;
			padding-bottom: 20px;
		}
		.left-c {
			width: 100%;
			.img-wr {
				overflow: hidden;
				height: 400px;
				img {
					height: 400px;
				}
			}
		}
		.right-c {
			background-color: transparent;
			width: 300px;
			padding: 26px 28px;
			.title {
				font-size: 30px;
				color: #fff;
				font-family: Roboto-Bold;
			}
			.sub-title {
				font-size: 18px;
				font-family: Roboto-Bold;
				color: #fff;
				margin-top: 20px;
			}
			p {
				font-size: 16px;
				line-height: 1.5;
			}
			b {
				font-family: Roboto-Bold;
			}
		}

	}
	.title {
		font-size: 30px;
		font-family: Roboto-Bold;
		line-height: 1.2;
	}
	p {
		font-size: 16px;
		margin-top: 5px;
	}
	.close {
			width: 35px;
			height: 35px;
			position: relative;
			position: absolute;
			right: -16px;
			top: -16px;
			cursor: pointer;
			transition: .7s;
			opacity: 1;
			background-image: none;
			background-color: $green; 
			&:hover {
				opacity: 1;
				transition: .7s;
				background-color: $orange; 
			}
			&::before {
				content: '';
				position: absolute;
				height: 1px;
				width: 70%;
				background-color: #fff; 
				transform: rotate(45deg);
				top: 17px;
				left: 5px;
			}
			&::after {
				content: '';
				position: absolute;
				height: 1px;
				width: 70%;
				background-color: #fff; 
				transform: rotate(-45deg);
				top: 17px;
				left: 5px;
			}			
		}
	form {
		margin-top: 30px;
		input {
			display: block;
		    border: 1px solid #2DB54F;
		    height: 40px;
		    width: 215px;
		    border-radius: 3px;
		    padding-left: 13px;
		    padding-right: 11px;
		    position: relative;
		    margin: auto;
		    margin-bottom: 14px;
		}
		button {
			font-size: 16px;
			background-color: $orange;
			font-family: Roboto-Bold;
			border: none;
		    height: 40px;
		    width: 215px;
			border-radius: 4px;
			position: relative;
			color: #fff;
			&::after {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				top: 0;
				margin: auto;
				width: 0;
				height: 0;
				background-color: #20AB46;
				border-radius: 100%;
				background-size: 100%;
				transition: 1s;
				z-index: 0;
				opacity: 0;
			}
			&::before {
				content: attr(data-value);
				z-index: 1;
				position: relative;
			}
			&:hover {
				&::after {
					height: 100%;
					width: 100%;
					transition: .5s;
					opacity: 1;
					border-radius: 4px;
					border: 1px solid #fff;
				}
			}						
		}
	}
}
.mask-dark {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	background-color: #292929;
}

.db {
	display: block;
}
.tablet {
	display: none;
}